@model TeinCvSitesi.Models.Experience

@{
    ViewBag.Title = "Delete";
}
<div class="container">
   

    <h3>Bu Kaydı Silmek İstediğinize Emin misiniz?</h3>
    <div>
        
        <hr />
        <dl class="dl-horizontal">
            <dt>
               Kullanıcı Adı
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

            <dt>
               İş Yeri
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WorkplaceName)
            </dd>

            <dt>
               Çalışma Yılı
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WorkYear)
            </dd>

            <dt>
              Açıklama
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-outline-danger" /> |
              <a href="/Experience/Index" class="btn btn-outline-dark" style="text-decoration-line:none">Geri</a>
            </div>
        }
    </div>
</div>